@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    local("Gilroy-Regular"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy-Bold"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open-Sans-Regular"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open-Sans-Light"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family:  "Gilroy";
  color: black;
  background-color: white;
}
p {
  letter-spacing: normal;
  font-weight: normal;
  font-family:  "Open Sans Light";
  font-size: 15px;
  color: #464646;
}
a {
  text-decoration: none;
}
input{
  border:0;
}
h3{
  font-size: 36px;
  font-family: "Gilroy-Bold";
}
ul{
  margin: 0;
  padding: 0;
}
.container{
  width: 1160px;
  margin: 0 auto;
}
.header{
  padding-left: 60px;
}
.main-content{
  display: flex;
}
.main-left-column{
  width: 330px;
  padding-right: 10px;
}
.main-central{
  width: 830px;
}
.main-header-grid{
  display: flex;
}
.top-header-grid{
  padding-top: 50px;
}
.bottom-header-grid{

}
.main-header{
  background-color: #f7e296;
  height: 186px;
  margin-top: 48px;
}
.main-header-logo{
  position: absolute;
  top: 22px;
  font-family: "Gilroy-Bold";
  font-size: 48px;
  font-weight: 800;
  padding-left: 60px;
}
.main-header-logo:hover{
  opacity: 0.6;
}
.main-header-logo:active{
  opacity: 0.3;
}
.compare-menu{
  width: 280px;
}
.compare-menu li, 
.compare-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.user-navigation,
.compare-menu-basket,
.compare-menu-compare{
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans";
  padding-left: 25px; 
  width: 260px; 
}
.user-navigation{
  background: url("../img/user.svg") no-repeat 5px;
  color: black;
  width:260px;
}
.compare-menu-basket{
  background: url("../img/cart.svg") no-repeat 5px;
  color: black;
}
.compare-menu-compare{
  background: url("../img/compare.svg") no-repeat 5px;
  color: black;
}
.user-navigation:hover,
.compare-menu-basket:hover,
.compare-menu-compare:hover{
  opacity: 0.6;
}
.user-navigation:active,
.compare-menu-basket:active,
.compare-menu-compare:active{
  opacity: 0.3;
}

.product-menu{
  width:580px;
}
.site-navigation,
.product-menu li{
  list-style: none;
  text-transform: uppercase;
  padding-right: 60px;
  margin: 0;
  display: inline-block;

}
.main-navigation{
  text-transform: uppercase;
  padding-left: 60px;
  padding-top: 35px;
}
.main-navigation-catalog{
  width: 580px;
  padding-left: 60px;
}
.main-navigation-product-menu{
    width: 580px;
    padding-top: 35px;
    justify-content: center;
}

.main-navigation-header,
.product-menu-delivery,
.product-menu-warranty,
.product-menu-contact{
    color: black;
    font-family: "Gilroy-Bold";
    font-weight: 800px; 
    letter-spacing: 3px;
}

.main-navigation-header{
  position: relative;
  width: 210px;
  padding-right: 30px;
  background: url("../img/plus.png") no-repeat 200px;
  vertical-align: middle;
}

.main-navigation-header:hover,
.product-menu-delivery:hover,
.product-menu-warranty:hover,
.product-menu-contact:hover{
    opacity: 0.6;
}
.main-navigation-header:active,
.product-menu-delivery:active,
.product-menu-warranty:active,
.product-menu-contact:active{
    opacity: 0.3;
}
.search{
  padding-left: 60px;
  width: 580px;
}
.search-form input{
  background-color: #f7e296;
}

.search-form{
  padding-left: 30px;
  background: url("../img/search.svg") no-repeat 5px;
}
.search-form:hover{
  opacity: 0.6;
}
.search-form:active{
  opacity: 1;
}
.search-form-button{
  display: none;
}
.search-form-button:active,
.search-form-button:focus,{
  display: inline-block;
}
.about{
  width: 600px;
}
.about-line{
  width: 60px;
  height: 5px;
  background-color: black;
}
.about-logistic li{
  font-weight: bold;
  line-height: 30px;
}
.contact{
  width: 600px;
}
.button::before {
  background-color: #f0c52e;
  padding-left: 50px;
  padding-top: 10px;
  content: "Подробнее";
  width: 150px;
  height: 5px;
  color: black;
  position: absolute;
}
.button:hover::before {
  background-color: #f0c52e;
  height: 30px;
}
.button{
  position: relative;
  text-transform: uppercase;
  font-family: "Gilroy-Bold";
  font-weight: bolder;
  color: black;
}

.button:active{
  background-color: #f0c42e;
  opacity: 0.4;
}
.catalog-item-slider{
  display: flex;
}
.slider-image{
  margin: 80px;
  width: 580px;
}
.slider-description{
  margin: 20px;
  width: 580px;
}
.product-sections{
  display: flex;
  justify-content: space-between;
}
.sections-item-list{
  width: 160px;
}
.product-sections-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  list-style: none;
  width: 1160px;
}
.product-sections-item-image{
  background-color: #faf9d4;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 10px;
}
.product-sections-item-image:hover{
  background-color: #f7f3aa;
}
.product-sections-item-image:active{
  background-color: #f7f3aa;
  opacity: 0.3;
}
.product-sections-item h3,
.product-sections-item a{
  font-size: 16px;
  width: 180px;
  padding-left: 5px;
  color: black;
}
.brand{

}
.brand-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 50px 0;
}
.barnd-item{
  opacity: 0.6;
}
.brand-item:hover{
  opacity: 1;
}
.info{
  display: flex;
}
.wrapper-footer{
  width: 1160px;
  margin: 0 auto;
}
.footer-grid{
  display: flex;
  justify-content: space-between;
}
.footer-grid-top{
  padding-top: 50px;
}
.footer-grid-midle,
.footer-grid-bottom{
  padding-top: 10px;
}
.footer-grid-bottom{
  padding-bottom: 40px;
}

.main-footer {
  background-color: #565656;
}
.main-footer-logo{
  color: #ffc600;
  font-family: "Gilroy-Bold";
}
.main-footer-logo:hover{
  opacity: 0.6;
}
.main-footer-logo:active{
  opacity: 0.3;
}
.footer-contacts{
  color: white;
}
.line-bottom{
  width: 60px;
  height: 5px;
  background-color: white;
}
.product-sections-footer ul{
  justify-content: center;
}
.product-sections-footer li{
  text-transform: uppercase;
  color: white;
  font-family: "Gilroy-Bold";
  font-weight: 800px; 
  letter-spacing: 3px;
  list-style: none;
  font-size: 15px;
  display: inline-block;
  justify-content: space-between;
}
.product-sections-footer-delivery,
.product-sections-footer-warranty,
.product-sections-footer-credit{
  color: white;
}
.product-sections-footer-delivery:hover,
.product-sections-footer-warranty:hover,
.product-sections-footer-credit:hover{
  color: #b5b5b5;
}
.product-sections-footer-delivery:active,
.product-sections-footer-warranty:active,
.product-sections-footer-credit:active{
  color: #7e7e7e;
}

.main-footer-user{
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans";
}
.main-footer-user-enter{
  background: url("../img/user-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-basket{
  background: url("../img/cart-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-compare{
  background: url("../img/compare-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-enter:hover,
.main-footer-user-basket:hover,
.main-footer-user-compare:hover{
  opacity: 1;
}
.main-footer-user-enter:active,
.main-footer-user-basket:active,
.main-footer-user-compare:active{
  opacity: 0.3;
}

.footer-social{
  width: 250px;
}
.social-button-twitter,
.social-button-facebook,
.social-button-instagram{
  opacity: 0.6;
  padding: 10px;
}
.social-button-twitter:hover,
.social-button-facebook:hover,
.social-button-instagram:hover{
  opacity: 1;
}
.social-button-twitter:active,
.social-button-facebook:active,
.social-button-instagram:active{
  opacity: 0.3;
}

.copyrigth{
  background: url("../img/logo-academy.svg") no-repeat 0 0;
}
.copyrigth:hover{
  opacity: 0.6;
}
.copyrigth:active{
  opacity: 0.3;
}

.modal{
  display: none;
}
.breadcrumbs{
  list-style: none;
}
ul.breadcrumbs li{
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}
.catalog,
.catalog ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.catalog h3,
.catalog a{
font-size: 16px;
color: black;
}
.catalog-item{
  width: 360px;
  margin-top: 30px;
}
.catalog-item h3{
  width: 250px;
}
.catalog-item:hover{
  opacity: 0.6;
}
.catalog-item-description{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.catalog-item-description span{
  padding-top: 15px;
}
.catalog-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  
}
.submit-catalog-item{
  width: 200px;

}
.submit-catalog-item:hover{
  
}
.sorting-catalog li,
.filter-bluetooth li{
  list-style: none;
  display: inline-block;
}
.sorting-catalog-preporties{
  display: grid;
  flex-direction:row;
  width: 830px;
}