@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    local("Gilroy-Regular"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy-Bold"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open-Sans-Regular"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open-Sans-Light"),
    url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family:  "Gilroy", "Tahoma", sans-serif;
  color: black;
  background-color: white;
}
p {
  letter-spacing: normal;
  font-weight: normal;
  font-family:  "Open Sans Light", "Tahoma", sans-serif;
  font-size: 15px;
  color: #464646;
}
a {
  text-decoration: none;
}
input{
  border:0;
}
h3{
  font-size: 36px;
  font-family: "Gilroy-Bold", "Tahoma", sans-serif;
}
ul{
  margin: 0;
  padding: 0;
}
.container{
  width: 1160px;
  margin: 0 auto;
}
.header{
  padding-left: 60px;
}
.main-content{
  display: flex;
  padding-top: 50px;
}
.main-left-column{
  width: 330px;
  padding-right: 10px;
}
.main-central{
  width: 830px;
}
.main-header-grid{
  display: flex;
}
.top-header-grid{
  padding-top: 50px;
}
.bottom-header-grid{

}
.main-header{
  background-color: #f7e296;
  margin-top: 48px;
}
.main-header-logo{
  position: absolute;
  top: 22px;
  font-family: "Gilroy-Bold", "Tahoma", sans-serif;
  font-size: 48px;
  font-weight: 800;
  padding-left: 60px;
}
.main-header-logo:hover{
  opacity: 0.6;
}
.main-header-logo:active{
  opacity: 0.3;
}
.compare-menu{
  width: 280px;
}
.compare-menu li, 
.compare-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.user-navigation,
.compare-menu-basket,
.compare-menu-compare{
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  padding-left: 25px; 
  width: 260px; 
}
.user-navigation{
  background: url("../img/user.svg") no-repeat 5px;
  color: black;
  width:260px;
}
.compare-menu-basket{
  background: url("../img/cart.svg") no-repeat 5px;
  color: black;
}
.compare-menu-compare{
  background: url("../img/compare.svg") no-repeat 5px;
  color: black;
}
.user-navigation:hover,
.compare-menu-basket:hover,
.compare-menu-compare:hover{
  opacity: 0.6;
}
.user-navigation:active,
.compare-menu-basket:active,
.compare-menu-compare:active{
  opacity: 0.3;
}

.product-menu{
  width:580px;
  text-transform: uppercase;
}

.product-menu li{
  list-style: none;
  text-transform: uppercase;
  padding-right: 60px;
  margin: 0;
  display: inline-block;
}

<! ------------------------------------------------------->
.main-navigation-header {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-header > li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.main-navigation-header a {
  display: block;
  padding: 8px 10px;
}

.main-navigation-header a:hover {
}
.site-navigation{
  display: flex;
  align-content: flex-start;

}
.main-navigation-header .site-navigation {
  position: absolute;
  left: 1px;
  display: none;
  width: 150px;
  height: 110px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fcf8e3;
}

.main-navigation-header .site-navigation a {
  margin-bottom: -1px;
  
}
.main-navigation-header a {
  color: black;
  width: 240px;
}
.main-navigation-header > li:hover .site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1100px;
  left: -60px;
  margin: 0;
  padding-left: 60px;
  background-color: #f7e296;
  align-content: flex-start;
  z-index: 100;
}
.site-navigation-item{
  font-size: 16px;
  text-transform: none;
  font-weight: 200;
  font-family:  "Gilroy", "Tahoma", sans-serif;
  letter-spacing: normal;
}
<! ------------------------------------------------------->
.main-navigation{
  
  padding-left: 60px;
  padding-top: 35px;
}
.main-navigation-catalog{
  width: 580px;
  padding-left: 60px;
}
.main-navigation-product-menu{
    width: 580px;
    padding-top: 35px;
    justify-content: center;
}

.main-navigation-header,
.product-menu-delivery,
.product-menu-warranty,
.product-menu-contact{
    color: black;
    font-family: "Gilroy-Bold", "Tahoma", sans-serif;
    font-weight: 800px; 
    letter-spacing: 3px;
}

.main-navigation-header{
  position: relative;
  text-transform: uppercase;
  width: 230px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: url("../img/plus.png") no-repeat 220px;
  vertical-align: middle;
}

/*.main-navigation-header:hover,*/
.product-menu-delivery:hover,
.product-menu-warranty:hover,
.product-menu-contact:hover{
    opacity: 0.6;
}
.main-navigation-header:active,
.product-menu-delivery:active,
.product-menu-warranty:active,
.product-menu-contact:active{
    opacity: 0.3;
}
.search{
  padding-left: 60px;
  width: 580px;
}
.search-form input{
  background-color: #f7e296;
}

.search-form{
  padding-left: 30px;
  background: url("../img/search.svg") no-repeat 5px;
}
.search-form:hover{
  opacity: 0.6;
}
.search-form:active{
  opacity: 1;
}
.search-form-button{
  display: none;
}
.search-form-button:active,
.search-form-button:focus,{
  display: inline-block;
}
.about{
  width: 600px;
}
.about-line{
  width: 60px;
  height: 5px;
  background-color: black;
}
.about-logistic li{
  font-weight: bold;
  line-height: 30px;
}
.contact{
  width: 600px;
}
.filter-button{
  border: 0;
background: none;
}
.submit::before,
.button::before {
  background-color: #f0c52e;
  top:11px;
  content: "";
  width: 220px;
  height: 5px;
  color: black;
  position: absolute;
  z-index: -1;
  left: -15px;

}
.button:hover::before,
.submit:hover::before{
  position: absolute;
  background-color: #f0c52e;
  height: 30px;
  top:0;
  padding-left: 20px;
  width: 200px;

}
.button,
.submit{
  position: relative;
  text-transform: uppercase;
  font-family: "Gilroy-Bold", "Tahoma", sans-serif;
  font-weight: bolder;
  color: black;
  width: 200px;
  padding: 50px;
  padding-top: 5px;
}

.button:active{

}

.catalog-item-slider{
  display: flex;
}
.slider-image{
  margin: 80px;
  width: 580px;
}
.slider-description{
  margin: 20px;
  width: 580px;
}
.item-characteristic{
  width: 100%;
  padding-top: 100px;
}
.item-characteristic-head{
  font-size: 35px;
}
.product-sections{
  display: flex;
  justify-content: space-between;
}
.sections-item-list{
  width: 160px;
}
.product-sections-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  list-style: none;
  width: 1160px;
}
.product-sections-item-image{
  background-color: #faf9d4;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin: 10px;
}
.product-sections-item-image:hover{
  background-color: #f7f3aa;
}
.product-sections-item-image:active{
  background-color: #f7f3aa;
  opacity: 0.3;
}
.product-sections-item h3,
.product-sections-item a{
  font-size: 16px;
  width: 180px;
  padding-left: 5px;
  color: black;
}
.brand{

}
.brand-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 50px 0;
}
.brand-item{
  opacity: 0.6;
}
.brand-item:hover{
  opacity: 1.0;
}
.info{
  display: flex;
}
.wrapper-footer{
  width: 1160px;
  margin: 0 auto;
}
.footer-grid{
  display: flex;
  justify-content: space-between;
}
.footer-grid-top{
  padding-top: 50px;
}
.footer-grid-midle,
.footer-grid-bottom{
  padding-top: 10px;
}
.footer-grid-bottom{
  padding-bottom: 40px;
}

.main-footer {
  background-color: #565656;
}
.main-footer-logo{
  color: #ffc600;
  font-family: "Gilroy-Bold", "Tahoma", sans-serif;
}
.main-footer-logo:hover{
  opacity: 0.6;
}
.main-footer-logo:active{
  opacity: 0.3;
}
.footer-contacts{
  color: white;
}
.line-bottom{
  width: 60px;
  height: 5px;
  background-color: white;
}
.product-sections-footer ul{
  justify-content: center;
}
.product-sections-footer li{
  text-transform: uppercase;
  color: white;
  font-family: "Gilroy-Bold", "Tahoma", sans-serif;
  font-weight: 800px; 
  letter-spacing: 3px;
  list-style: none;
  font-size: 15px;
  display: inline-block;
  justify-content: space-between;
}
.product-sections-footer-delivery,
.product-sections-footer-warranty,
.product-sections-footer-credit{
  color: white;
}
.product-sections-footer-delivery:hover,
.product-sections-footer-warranty:hover,
.product-sections-footer-credit:hover{
  color: #b5b5b5;
}
.product-sections-footer-delivery:active,
.product-sections-footer-warranty:active,
.product-sections-footer-credit:active{
  color: #7e7e7e;
}

.main-footer-user{
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans", "Tahoma", sans-serif;
}
.main-footer-user-enter{
  background: url("../img/user-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-basket{
  background: url("../img/cart-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-compare{
  background: url("../img/compare-bottom.svg") no-repeat 5px;
  color: white;
  padding-left: 30px;
  padding-right: 15px;
  opacity: 0.7;
}
.main-footer-user-enter:hover,
.main-footer-user-basket:hover,
.main-footer-user-compare:hover{
  opacity: 1;
}
.main-footer-user-enter:active,
.main-footer-user-basket:active,
.main-footer-user-compare:active{
  opacity: 0.3;
}

.footer-social{
  width: 250px;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer-social li{
  width: 40px;
  display: inline;
  list-style: none;
}
.social-button-twitter,
.social-button-facebook,
.social-button-instagram{
  opacity: 0.6;
  padding: 10px;
}
.social-button-twitter:hover,
.social-button-facebook:hover,
.social-button-instagram:hover{
  opacity: 1;
}
.social-button-twitter:active,
.social-button-facebook:active,
.social-button-instagram:active{
  opacity: 0.3;
}

.copyrigth{
  background: url("../img/logo-academy.svg") no-repeat 0 0;
}
.copyrigth:hover{
  opacity: 0.6;
}
.copyrigth:active{
  opacity: 0.3;
}

.modal{
  display: none;
}
.breadcrumbs{
  list-style: none;
  padding-top: 15px;
}
ul.breadcrumbs li{
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
}
.breadcrumbs-current a,
.breadcrumbs-items a{
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: #7d7147;
  font-size: 14px;
  letter-spacing: 0.1px;
  opacity: 0.6;
}
.breadcrumbs-current:hover a,
.breadcrumbs-items:hover a{
  opacity: 1;
}
.breadcrumbs-current:active a,
.breadcrumbs-items:active a{
  opacity: 0.1;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}
.catalog,
.catalog ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.catalog h3,
.catalog a{
font-size: 16px;
color: black;
}
.catalog-item{
  width: 360px;
  margin-top: 30px;
}
.catalog-item h3{
  width: 250px;
}
.catalog-item:hover{
  opacity: 0.6;
}
.catalog-item-description{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.catalog-item-description span{
  padding-top: 15px;
}
.catalog-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  
}
.submit-catalog-item{
  width: 200px;

}
.submit-catalog-item:hover{
  
}
.sorting-catalog li,
.filter-bluetooth li{
  list-style: none;
  display: inline-block;
}
.sorting-catalog-preporties{
  display: grid;
  flex-direction:row;
  width: 830px;
}
/* слайдер */
.container-slider {
  display: flex;
  

  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 600px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}


.slider {
  position: relative;
}

.slider-controls {
  position: absolute;

  right: 50px;
  top: 300px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border: 1px solid #ccc;
  
  border-radius: 50%;
}

.slider-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-left: 550px;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 100px 40px;
  width: 100%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 100px 40px;
  width: 100%;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 100px 40px;
  width: 100%;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;


}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-left: auto;
}

.slider-item p {
  max-width: 600px;
  margin: 0;
  margin-bottom: 38px;
  margin-left: auto;
}
.slider-item-button{

  margin-left: 130px;
  width: 600px; 
}
/* конец слайдер*/